<main>
    <p>お知らせ編集</p>
    <div class="info-header"><button class="btn btn-green width-80" (click)="onClickBack()">戻る</button></div>
    <ng-container *ngIf="isLoading; else content">
    </ng-container>
</main>
<ng-template #content>
    <div class="info-area">
        <div class="infos">
            <div class="number-info">
                <div><input type="hidden" [(ngModel)]="informationId" /></div>
                <div class="number-item">
                    <div class="grid-right">お知らせ内容：</div>
                    <input type="text" [(ngModel)]="overview" style="width: 500px;" />
                </div>
                <div class="number-item">
                    <div class="grid-right">お知らせ概要：</div>
                    <textarea [(ngModel)]="detail"></textarea>
                </div>
                <div class="number-item">
                    <div class="grid-right">開催日：</div>
                    <input type="date" [(ngModel)]="informationDayFrom" style="width: 130px;" />
                </div>
                <div class="number-item">
                    <div class="grid-right">終了日：</div>
                    <input type="date" [(ngModel)]="informationDayTo" style="width: 130px;" />
                </div>
                <div>
                    <button class="btn btn-red width-80" (click)="onClickSave()">保存</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>